<header>
    <nav>
        <h1 class="headerTitle"> Ballet Class Builder </h1>
        <a id="link" href="https://ballethub.com/ballet-terms-dictionary/" target="_blank">Ballet Dictionary</a>
        <a id="link" href="https://www.danceclassmusic.com/" target="_blank">Ballet Music</a>
    </nav>
</header>