<header>
    <h1> Ballet Class Builder </h1>
    <a href="https://ballethub.com/ballet-terms-dictionary/">Ballet Dictionary</a>
    <a href="https://www.danceclassmusic.com/">Ballet Music</a>
</header>