<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <form action="/lessons" method="POST">
        <input
          class="input"
          type="text"
          name="track"
          placeholder="Song Number and Title"
        /><br />
        <input
          class="input"
          type="text"
          name="combo"
          placeholder="Combination Name"
        /><br />
        <input
          class="input"
          type="text"
          name="album"
          placeholder="Album Name"
        /><br />
        <textarea
          name="description"
          cols="50"
          rows="20"
          placeholder="1st position: 2 demi plié, 1 grand plié, port de bras en avant and en erierre, repeat 2nd, 4th, and 5th"
        ></textarea>
        <br />
        <!-- <input list="combos" name="combos">  -->
        <!-- <datalist id="combos">
            <option value="Plié">
            <option value="Tendu From First Position">
            <option value="Tendu From Fifth Position">
            <option value="Dégagé">
            <option value="Rond De Jamb">
          </datalist> -->
        <div class="trial">
          <input class="newB" type="submit" value="" />
          <button
            class="backB"
            onClick="location=href='../'"
            type="button"
          ></button>
        </div>
      </form>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
