<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    
    <form action="../combos" method="POST">
        <input type="text" name="comboName" placeholder="Plié" /> <br />
        <input type="text" name="track" placeholder="track number and name" /><br />
        <!-- <textarea name="description" cols="50" rows="20" placeholder="1st position: 2 demi plié, 1 grand plié, port de bras en avant and en erierre, repeat 2nd, 4th, and 5th"></textarea> <br /> -->
        <!-- <input list="combos" name="combos">  -->
        <!-- <datalist id="combos">
            <option value="Plié">
            <option value="Tendu From First Position">
            <option value="Tendu From Fifth Position">
            <option value="Dégagé">
            <option value="Rond De Jamb">
            </datalist> -->
        <input type="submit" value="Create A Combination">
    </form>
</body>
</html>