<!DOCTYPE html>
<html lang="en">
   <head> 
       <%- include('./partials/head.ejs') %>
    </head>
<body class="indexBody">
    <nav id="indexHeader">
    <%- include('./partials/header.ejs')%>
    </nav>
    <div id="indexB1">
        <button class="newB" onClick="location=href='/lessons/new'" type="button"></button>
        </div>
        <div id="indexB2">
        <button class="findB" onClick="location=href='/lessons/'" type="button"></button>
    </div>
   
    <%- include('./partials/footer.ejs')%>
</body>
</htm>