<!DOCTYPE html>
<html lang="en">
   <head> 
       <%- include('./partials/head.ejs') %>
    </head>
<body class="indexBody">
    <nav id="indexHeader">
    <%- include('./partials/header.ejs')%>
    </nav>
    <nav class="indexButtons">
        <button class="newB" onClick="location=href='/lessons/new'" type="button"></button>
        <button class="findB" onClick="location=href='/lessons/'" type="button"></button>
    </nav>
</body>

</htm>