<!DOCTYPE html>
<html lang="en">
   <head> 
       <%- include('./partials/head.ejs') %>
    </head>
<body>
    <%- include('./partials/header.ejs')%>

    <button onClick="location=href='/lessons/new'" type="button">Make A New Combination</button>
    <button onClick="location=href='/lessons/'" type="button">Find a Combination
    </button>
</body>

</htm>