<!DOCTYPE html>
<html lang="en">
   <head> 
       <%- include('./partials/head.ejs') %>
    </head>
<body class="indexBody">
    <nav id="indexHeader">
    <%- include('./partials/header.ejs')%>
    </nav>
    <nav id="indexButtons">
        <button id="indexButton" onClick="location=href='/lessons/new'" type="button">Make A New Combination</button>
        <button id="indexButton" onClick="location=href='/lessons/'" type="button">Find a Combination</button>
    </nav>
</body>

</htm>