.indexBody {
    background-image: url('https://i.imgur.com/Zq2xDF6.jpg?2');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

body {
    background-image: url('https://i.imgur.com/irJS8Mf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
  
}

.headerTitle {
    font-family: 'Playfair Display SC', serif;
    font-size: 40px;
}

header {
    color:floralwhite;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background-color: black;
    opacity: .6;
}
 #link{
     color:floralwhite;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
 }
 
 .indexButtons {
    display: flex;
    flex-flow: column wrap;
    align-content: right;
    justify-items: center;
    border-radius: 10px;
    margin: 200px auto 0px 517px;
    padding: 100px;
    position: absolute; left: 80px; top: 100px;
 }

 img {
     width: 200px;
     height: 200px;
 }

 textarea {
     opacity: .3;
 }
  .input {
      opacity: .3;
  }

  main {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;  
      margin: 100px 0px 0px 0px; 
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #subButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
  }

  button {
      width: 130px;
  }

  /* #indexButton {
      width: 170px;
      margin: 10px;
  } */

  div {
      display: flex;
     
      justify-content: center;
      margin: 20px;
      color: floralwhite;
  }

  #formDiv {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    color: floralwhite;
  }
  
  p {
      width: 300px;
      display: flex;
      flex-flow: column wrap;
      align-content: center;
      color: floralwhite;
      opacity: .7;
      margin: 5px 0px 0px 0px;
  }
  h2, h3{
    display: flex;
    justify-content: center;
    padding: 1px;
    color: floralwhite;
    opacity: .7;
    margin: 5px;
  }
  
  h4 {
      margin: 0;
  }
  a {
      color: floralwhite;
      opacity: .7;
  }

  span {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
  }

  .dButton {
      background-image: url('https://i.imgur.com/Mwr72Ctt.png');
      width: 108px;
      height: 163px;
      background-repeat: no-repeat;
  } 

  .backB {
    background-image: url('https://i.imgur.com/m5Yd59Vt.png');
    width: 108px;
    height: 163px;
    background-repeat: no-repeat;
  }
  .newB {
    background-image: url('https://i.imgur.com/viLJgizt.png');
    width: 108px;
    height: 163px;
    background-repeat: no-repeat;
  }

  .editB {
    background-image: url('https://i.imgur.com/ja4bQsSt.png');
    width: 108px;
    height: 163px;
    background-repeat: no-repeat;
  }

  .findB {
    background-image: url('https://i.imgur.com/BxlTrfet.png');
    width: 108px;
    height: 163px;
    background-repeat: no-repeat;
  }
   #songs {
    display: flex;
    flex-flow: column wrap;
    align-content:flex-start;
    align-items: center;
  } 
   #steps {
      display: flex;
      flex-flow: column wrap;
      align-content: flex-end;
      align-items: center;
  } 

  #headerDiv {
      display: flex;
      justify-content: end;
      justify-self: flex-end;
  }